.icon-vip-s-w .icon-vip-s,
.icon-s50-w .icon-vip-s{
	bottom:-4px;
	right:-4px;
}
.photo-lx-w .icon-vip-l{
	bottom:-8px;
	right:-8px;
}
.photo-m-w .icon-vip-m,
.photo-s50-w .icon-vip-m{
	bottom:-6px;
	right:-6px;
}